<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite" version="2.2.4" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.4" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core.Backport" version="2.0.0.26" targetFramework="net471" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.8" targetFramework="net471" />
  <package id="SimpleStack.Orm" version="1.0.4" targetFramework="net471" />
  <package id="SimpleStack.Orm.SQLite" version="1.0.4" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>